
 <!-- Site footer -->
<footer class="site-footer">
    <div class="container-footer">
          <div class="container-item">
            <h6 class="container-item--header">About</h6>
            <p class="container-item--text">At Our Store, we pride ourselves on providing an unparalleled board game rental service that caters to all your gaming needs. 
                                    Whether you're a casual player or a seasoned board game enthusiast,
                                    we have something for everyone.
            </p>
          </div>
          <div class="container-item">
            <h6 class="container-item--header">Quick Links</h6>
            <div class="quicklinks">
              <p><a  class="quicklinks-item" href="http://scanfcode.com/about/">Address: Linh Trung, Thủ Đức</a></p>
              <p><a class="quicklinks-item" href="http://scanfcode.com/contact/">Contact Us : 123-456-789</a></p>
              <p><a class="quicklinks-item" href="http://scanfcode.com/privacy-policy/">Privacy Policy : </a></p>
            </div>
          </div>
    
    </div>
</footer>
