<div class="header">
  <i class="fa-regular fa-game-board-simple header-logo"></i>
  <div class="header-search">
    <input type="text" class="header-search-input" placeholder="Search">

    <button class="header-search-button">
      <i class="fa fa-solid fa-magnifying-glass input-icon"></i>
    </button>
    
  </div>

  <i class="fa-solid fa-house header-icon" style="color: #fcfcfc;"></i>
</div>