<div class="header">
  <i class="fa-regular fa-game-board-simple header-logo"></i>
  <div class="header-search">
    
  </div>

  {{!-- <i class="fa-solid fa-house header-icon" style="color: #fcfcfc;"></i> --}}
</div>