 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
     <div class="header">
            <!-- <div class="header-left">
                <img src="" alt="" class="header__logo">
            </div> -->

            <i class="fa-regular fa-game-board-simple header-logo"></i>

            <div class="header-search">
                <input type="text" class="header-search-input" placeholder="Search">
                <button class="header-search-button">
                    <i class="fa fa-solid fa-magnifying-glass input-icon"></i>
                </button>
            </div>

            <i class="fa-solid fa-house header-icon" style="color: #fcfcfc;"></i>

            <!-- <div class="header-user">
                
            </div> -->
        </div>

 </body>
 </html>