 <div class="body">
    <header class="body-title">TẤT CẢ SẢN PHẨM</header>
        <div class="body-content">
            <div class="boardergames-categories">
                <h4 class="categories-title">Category</h4>
                <div class="categories-choice">
                    <input type="checkbox" id="choice" class="categories-checkbox" placeholder="" name="choiced">
                    <p class="categories-name">Card game</p>
                </div>
            </div>

            <div class="boardgames">
                <div class="grid">
                    {{#each ThongtinBGs}}
                    <div class="grid__col-4">
                       <div class="boardgame">
                            <img src="{{this.HinhAnh}}" alt="" class="boardgame-img">
                            <div class="boardgame-info">
                                <h4 class="boardgame-info__name">{{this.TenBoardGame}}</h4>
                                <p class="boardgame-info__price">Giá : {{this.GiaThue}}</p>
                                <p class="boardgame-info__status">Tình trạng: Còn hàng</p>
                            </div>
                
                            <button class="boardgame-btn js-buy">Giữ chỗ</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
</div>
