<div class="boardgames">
    <div class="grid">
        <div class="grid__col-4">
            <div class="boardgame">
                <img src="assets/img/1.jpg" alt="" class="boardgame-img">
            
                <div class="boardgame-info">
                <h4 class="boardgame-info__name">TRÒ CHƠI 1</h4>
                <li class="boardgame-info__price">Giá: 100.000</li>
                <li class="boardgame-info__status">Tình trạng: Còn hàng</li>
                </div>
            
                <button class="boardgame-btn js-buy">Giữ chỗ</button>
            </div>
        </div>
    </div>
</div>